.assistant_wrap{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 10;
    display: flex;
    width: fit-content;
    min-width: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.response_box{
    position: fixed;
    bottom: 20px;
    right: -500px;
    max-width: 250px;
    background-color: white;
    color: rgba(0, 0, 0, 0.484);
    font-size: .8rem;
    font-weight: bold;
    text-wrap: balance;
    margin-top: 7px;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.158), -1px -1px 2px 0px rgba(0, 0, 0, 0.034);
    border-radius: .55rem;
    padding: 7px 10px;
    transition: all 1s ease-in-out;
}

.response_box_On{
    right: 150px;
    position: fixed;
    bottom: 20px;
    max-width: 250px;
    background-color: white;
    color: rgba(0, 0, 0, 0.484);
    font-size: .8rem;
    font-weight: bold;
    text-wrap: balance;
    margin-top: 7px;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.158), -1px -1px 2px 0px rgba(0, 0, 0, 0.034);
    border-radius: .55rem;
    padding: 7px 10px;
    transition: all 1s ease-in-out;
}

.bot_box{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bot_img{
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ff4d4f;
    background-color: white;
    border-radius: 100%;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.158), -1px -1px 2px 0px rgba(0, 0, 0, 0.034);
    padding: 10px;
    transition: all 0.5s ease-in-out;
}

.bot_img_listen{
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ff4d4f;
    background-color: white;
    border-radius: 100%;
    box-shadow: 0 0 2px 2px #ff4d4f, 0 0 2px 2px #ff4d4f;
    padding: 10px;
    transition: all 0.5s ease-in-out;
}

.bot_box p{
    background-color: white;
    color: rgba(0, 0, 0, 0.484);
    font-size: .7rem;
    font-weight: bold;
    margin-top: 7px;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.158), -1px -1px 2px 0px rgba(0, 0, 0, 0.034);
    border-radius: .75rem;
    padding: 2px 15px;
}

.rotate {
    transform: rotate(55deg); /* Diagonal cross */
}

#audioPlayer{
    visibility: hidden;
    position: fixed;
    top: -200px;
}

@media screen and (max-width:500px){

    .assistant_wrap{
        position: fixed;
        bottom: 0px;
        right: 10px;
        z-index: 10;
        display: flex;
        width: fit-content;
        min-width: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .response_box{
        bottom: 10px;
        right: -500px;
        max-width: 230px;
        padding: 7px 10px;
    }

    .response_box_On{
        right: 120px;
        bottom: 10px;
        max-width: 230px;
        padding: 7px 10px;
    }

    .bot_box p{
        background-color: white;
        color: rgba(0, 0, 0, 0.484);
        font-size: .7rem;
        font-weight: bold;
        margin-top: 7px;
        box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.158), -1px -1px 2px 0px rgba(0, 0, 0, 0.034);
        border-radius: .75rem;
        padding: 2px 10px;
    }

}